.flexDash {
    display: flex;
    flex-direction: row;
}

.dashboard {
    width: 300px;
    height: auto;
    margin-top: 6px;
    padding-top: 1px;
    /* padding-bottom: 10px; */
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(156, 155, 155, 0.53);
}

.containerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.img img {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 10px;
    background-color: rgb(231, 230, 230);
}

.imgTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nomeUsuario {
    font-size: 25px;
    margin-top: 3px;
    max-width: 200px;
}

#funcaoUsuario {
    color: #868686;
    margin-top: -15px;
}

.tituloFlex {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    margin-top: 41px;
    margin-bottom: 25px;
}

.tituloFlex h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    padding-left: 60px;
    width: 100%;
    height: 60px;
    background-color: #C4C4C4;
    /* border-bottom: 1px solid #DB324A; */
}

li {
    list-style: none;
}

.rota {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 70px;
    padding-left: 30px;
    flex-direction: row;
    /* color: #868686; */
    /* margin: 0px 0px 0px 0px; */
}

.rotas :hover {
    background-color: #e7e7e7;
}

.rota img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 15px;
}