.centro div {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.centro h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.centro {
    margin-top: 200px;
}

.davi{
    margin-bottom: 20px;
}

nav #btn1{    
    padding: 5px 10px;
    border-radius: 10px;
    font-size:17px;
}

nav{
    font-size: 17px;
}