#areaDash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#areaDash h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.itensDados {
    display: flex;
    flex-direction: row;
    width: 930px;
}

.dado img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin: 20px 0px 0px 10px;
}

.dado {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 115px;
    border-radius: 7px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(156, 155, 155, 0.53);
}

.flexDadoTxt {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.dado h1 {
    display: flex;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: -5px;
}

.graficos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.grafico {
    display: flex;
    width: 270px;
    height: 340px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(156, 155, 155, 0.53);
}

.graficoGrande {
    display: flex;
    width: 890px;
    height: 470px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(156, 155, 155, 0.53);
}

.tabelaAdm {
    padding: 18px;
    max-width: 935px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tabelaAdm th {
    text-align: center;
    font-weight: normal;
    padding: 5px 30px 5px 30px;
    background-color: hsl(351, 70%, 53%);
    color: white;
}

.tabelaAdm td {
    text-align: center;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 0px 5px 0px rgba(223, 223, 223, 0.53);
}

.tabelaAdm tr:nth-child(odd) {
    background-color: white;
}

.tabelaAdm tr:nth-child(even) {
    background-color: #cfc5c5;
}