.areaVisualizarVaga {
    display: flex;
    justify-content: center;
  }
  
.areaVisualizarVaga p{
    margin-bottom: 0px;
  }

  .retanguloBrancoVisualizar0 {
    width: auto;
      height: auto;
      padding: 10px;
      background: #ffffff;
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
      border-radius: 7px;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .retanguloBrancoVisualizar1 {
    width: auto;
      height: auto;
      min-height: 10px;
      padding: 10px;
      /* background: #ffffff;
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18); */
      border-radius: 7px;
      margin-bottom: 10px;
  }
  
  .boxContentVisualizarVaga {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    text-align: center;
    margin-left: 75px;
    margin-top: 5 0px;
  }
  
  .boxContentVisualizarVaga h1 {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
  }
  /* .ContentVisualizarVaga{
        display: flex;
        justify-content: center;
        align-items: center;
    
    } */
  
  /* Box1 (START) */
  .retanguloBrancoVisualizar {
    /* display: flex; */
    width: auto;
    /* MODAFICADO DE 300 P/ AUTO */
    height: auto;
    padding: 10px;
    /* background: #ffffff;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18); */
    border-radius: 7px;
    margin-bottom: 10px;
  }
  
  .options-box1 h2 {
    /* margin-left: 20px; */
    /* height: 37px; */
    margin-top: 13px;
    margin-bottom: 15px;
  }
  
  .options-box1 h4 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: unset;
    color: #a4a4a3;
  }
  /* Box1 (END) */
  
  /* Box2 (START) */
  .options-box2 {
    display: flex;
    width: 195px;
    height: 116px;
    background: #ffffff;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
    border-radius: 7px;
  
    margin-top: 50px;
  
    flex-direction: column;
    margin-right: 50px;
  }
  
  /* junta as box */
  /* #options-2 {
        display: flex;
    } */
  
  .row-perfil {
    padding: 1px 60px;
  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 30px;
  }
  
  .row-perfil p {
    padding: 0px 4px 0px 4px;
  }
  
  .row-perfil hr {
    border-top: 2px solid #000000;
    width: 320px;
    margin-top: 10px;
  
    display: flex;
  }
  
  .row-info2 {
    padding: 1px 60px;
  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .row-info2 p {
    padding: 0px 4px 0px 4px;
  }
  
  .row-info2 hr {
    border-top: 2px solid #000000;
    width: 320px;
    margin-top: 10px;
  
    display: flex;
  }
  
  /* LINHA HR */
  .row-sobre {
    padding: 1px 60px;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .row-sobre p {
    padding: 0px 4px 0px 4px;
  }
  
  .row-sobre hr {
    border-top: 2px solid #000000;
    width: 320px;
    margin-top: 10px;
    display: flex;
  }
/*   
  .logo {
    display: flex;
    align-items: center;
  } */
  
  .sobre {
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
    color: #868686;
    margin-top: 20px;
  }
  
  .doubleBox {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
  }
  
  .options-box2 p {
    text-align: center;
  
    margin-top: 30px;
    margin-left: 5px;
  }
  
  .flex-text {
    display: flex;
    flex-direction: column;
  }
  
  .options-box2 .see .link {
    display: flex;
    justify-content: center;
  }
  /* Box2 (END) */
  
  .options-box3 {
    display: flex;
    width: 195px;
    height: 116px;
    background: #ffffff;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
    border-radius: 7px;
  
    margin-top: 50px;
  
    flex-direction: column;
  }
  
  .options-box3 p {
    margin-top: 30px;
    margin-left: 5px;
  }
  
  .CardVisualizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 800px;
    /* cursor: pointer; */
  }

  .CardVisualizar0 {
    display: flex;
    width: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* cursor: pointer; */
  }
  
  .CardVisualizar h6 {
    margin-top: 25px;
  }
  
  .cardprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .h44 {
    display: flex;
    justify-content: center;
  
    align-items: center;
  }
  
  .cardHab {
    display: flex;
    width: 350px;
    height: 90px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .cardHab p {
    background-color: #db324a;
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1px;
    margin-right: 10px;
  }
  
  /* textoinfo */
/*   
  .textinf5 {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    line-height: 30px;
    margin-top: 35px;
  }

.textinf5 p{
    text-align: start;
    padding: 10px;
} */
  
  .bre01 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 20px;
  }
  
  .bre02 {
    display: flex;
    flex-direction: column;
  }
  
  /* cod david */
  .item {
    flex-grow: 3;
  }

  .flexVagaTxt {
    width: 770px;
    padding: 30px;
    text-align: left;
  }
  
  /* definiar o tamanha */
  /* .item-wide {
      flex-grow: 3;
    } */
  
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .break-column {
    flex-basis: 100%;
    width: 0;
  }
  
  /* item login */
  .item02 {
    display: flex;
    margin-bottom: 15px;
  }
  
  .item02 p {
    margin-bottom: 0px;
    margin-left: 15px;
  }
  
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .break-column {
    flex-basis: 100%;
    width: 0;
  }

  /* _______ */
  #btn1{
    margin: 20px;
  }

.descricao p{
  display: flex;
  align-items: flex-start;
}

.descricao0{
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  padding-bottom: 5px;
}

.descricao0 #nomeEmpresa{
  font-weight: normal;
  padding-left: 5px;
}
.descricao0 p{
  font-weight: bold;
}

.boxContentVisualizarVaga .descricao {
  display: flex;
  margin-bottom: -40px;
}

/* .descricao {
  margin-top: 50px;
  margin-bottom: -20px;
} */

/* .CardVagas{ */
      /* display: flex; */
      /* width: auto;
      height: 300px;
      background: #ffffff;
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
      border-radius: 7px;
      margin-top: 50px;
} */

.textinf2{
  display: flex;
  /* flex-direction: column; */
}

.botaoInscricao {
  margin-bottom: 50px;
} 

.areaVisualizarVaga hr {
  background-color: rgb(209, 209, 209);
}