.etapa03 .cadastro {
    width: 755px;  
    height: 400px;   
    background: #FFFFFF;  
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);  
    border-radius: 7px;   
}
.etapa03 .cadastro-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.titulo-completar h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}
.etapa03 .titulo p {
    /* Sobre */
    width: 81px;
    height: 41px;
    left: 349px;
    top: 320px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 20px;
}

.etapa03 .BarraProgresso {
    position: center;
    padding-left: 20px;
}
.etapa03 .grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.etapa03 .check {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.etapa03 .form-check {
    display: block;
    Width: 180px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #868686;
    box-sizing: border-box;
}
.etapa03 .btn-proximo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    margin-bottom: 20px;
}
.etapa03 .form-check{
    margin: 20px;
    justify-items: center;
}
.etapa03 .form-check-input{
    left: 30px;
    margin-top: 5px;
    padding-right: 20px;
}
.etapa03 .form-check-label{
    margin-left: 10px;
}
.etapa03 .form-group-select{
    display: flex;
    flex-direction: column;
    margin-top: 10px;  
}
.etapa03 .form-group-select label {
    margin-top: -10px;
    margin-bottom: 19px;
}
.etapa03 .check-completar{
    padding-left: 20px;
    padding-top: 10px;
}
.etapa03 .form-check-completar{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.formulario {
    position: absolute;
    top: 0;
    left: 0;
}

#formulario #progress {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

#formulario #progress li {
    list-style-type: none;
    text-align: start;
    color: #DB324A;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    width: 33.33%;
    position: relative;
}

#formulario #progress li:before {
    content: counter(step);
    counter-increment: step;
    width: 45px;
    display: block;
    line-height: 45px;
    background: #C4C4C4;
    color: white;
    border-radius: 7px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 60px;
    margin: 0 auto 20px auto;
    font-size: 22px;
    text-align: center;
}

#formulario #progress li:after {
    content: '';
    width: 100%;
    background: #C4C4C4;
    height: 11px;
    position: absolute;
    top: 18px;
    left: -50%;
    z-index: -5;
}

#formulario #progress li:first-child:after {
    content: none;
}

#formulario #progress li.ativo:before,
#formulario #progress li.ativo:after {
    background: #DB324A;
    color: white;
    text-shadow: 0 1px 0;
    text-align: center;
}
