.loginCandidato h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}

.loginCandidato .login-inputs input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 300px;
}

.loginCandidato .h1-empresa2 {
    margin-top: 30px;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}

.loginCandidato .h1-empresa1 {
    margin-top: 110px;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}

.btn-criarconta {
    display: flex;
    justify-content: center;
}

.login {
    width: 480px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
    border-radius: 7px;
    margin-left: 750px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.login tr {
    position: absolute;
    width: 430px;
    height: 0px;
    border: 1px solid #868686;
}

.login .login-inputs {
    padding: 25px;
}

.login-inputs p {
    padding-left: 250px;
    padding-top: 25px;
}


/* teste login */

.carouselExampleCaptions li {
    width: 240px;
}

.tr-empresa {
    width: 480px;
    left: 750px;
    top: 690px;
}

.slide-carrossel-login {
    width: 600px;
    height: 5px;
}

.w-200 {
    width: 180px;
    margin-left: 210px;
    padding-top: 30px;
}

.slide-carrossel-login h5 {
    color: black;
}

.slide-carrossel-login p {
    color: black;
}

.slide-carrossel-login img {
    vertical-align: middle;
    border-style: none;
    padding-bottom: 300px;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: black;
}

.login li {
    background-color: #DB324A;
    border-radius: 7px;
}