.areaListarVagas {
  display: flex;
}

.boxContentListarVagas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.ContentListarVagas {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  margin-left: 75px;
  margin-top: 5 0px;
}

.boxContentListarVagas h1 {
  margin-top: 40px;
}

/* Box1 (START) */
.retanguloBrancoListar {
  display: flex;
  flex-direction: column;
  width: 800px;
  /* width: auto;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
  border-radius: 7px;
  margin-top: 50px; */
}

.Cartao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.Cartao h6 {
  margin-top: 25px;
}

/* .Cartao :hover{
  border-style: none;
} */

.Button-Visualizar{
  width: auto;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
  border-radius: 7px;
  margin-top: 50px;
  border-style: none;
  display: flex;

}

.infoVaga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-style: none;
}

/* textoinfo */

.vagaInfo {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  line-height: 30px;
  margin-top: 35px;
}

.linhaListarVaga {
  display: flex;
  margin-bottom: 15px;
}

.linhaListarVaga p {
  margin-bottom: 0px;
  margin-left: 15px;
}
/* .linhaListarVaga #nomeEmpresa {
  max-width: 350px;
} */

.colunaEsquerdaListar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.colunaDireitaListar {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  width: 250px;

}

.infoHab {
  display: flex;
  width: 400px;
  height: 90px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}

.infoHab p {
  background-color: #db324a;
  border-radius: 7px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1px;
  margin-right: 10px;
}

/* cod david */
.tagListarVagas {
  flex-grow: 1;
}







/* ________________________ */
.options-box1 h2 {
  /* margin-left: 20px; */
  /* height: 37px; */
  margin-top: 13px;
  margin-bottom: 15px;
}

.options-box1 h4 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: unset;
  color: #a4a4a3;
}
/* Box1 (END) */

/* Box2 (START) */
.options-box2 {
  display: flex;
  width: 195px;
  height: 116px;
  background: #ffffff;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
  border-radius: 7px;

  margin-top: 50px;

  flex-direction: column;
  margin-right: 50px;
}

/* junta as box */
/* #options-2 {
      display: flex;
  } */

.row-perfil {
  padding: 1px 60px;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 30px;
}

.row-perfil p {
  padding: 0px 4px 0px 4px;
}

.row-perfil hr {
  border-top: 2px solid #000000;
  width: 320px;
  margin-top: 10px;

  display: flex;
}

.row-info2 {
  padding: 1px 60px;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row-info2 p {
  padding: 0px 4px 0px 4px;
}

.row-info2 hr {
  border-top: 2px solid #000000;
  width: 320px;
  margin-top: 10px;

  display: flex;
}

/* LINHA HR */
.row-sobre {
  padding: 1px 60px;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.row-sobre p {
  padding: 0px 4px 0px 4px;
}

.row-sobre hr {
  border-top: 2px solid #000000;
  width: 320px;
  margin-top: 10px;
  display: flex;
}

.logoListarVaga  {
  display: flex;
  align-items: center;
  margin: 0px 25px 0 25px;
}

.sobre {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  color: #868686;
  margin-top: 20px;
}

.doubleBox {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
}

.options-box2 p {
  text-align: center;

  margin-top: 30px;
  margin-left: 5px;
}

/* .flex-text {
  display: flex;
  flex-direction: column;
} */

/* .options-box2 .see .link {
  display: flex;
  justify-content: center;
} */
/* Box2 (END) */

/* .options-box3 {
  display: flex;
  width: 195px;
  height: 116px;
  background: #ffffff;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
  border-radius: 7px;

  margin-top: 50px;

  flex-direction: column;
} */

/* .options-box3 p {
  margin-top: 30px;
  margin-left: 5px;
} */





/* .h44 {
  display: flex;
  justify-content: center;

  align-items: center;
}


 */


/* .textinf p {
  display: flex;
} */





/* definiar o tamanha */
/* .item-wide {
    flex-grow: 3;
  } */

/* .break {
  flex-basis: 100%;
  height: 0;
}
.break-column {
  flex-basis: 100%;
  width: 0;
} */

/* item login */


/* .break {
  flex-basis: 100%;
  height: 0;
}
.break-column {
  flex-basis: 100%;
  width: 0;
} */


