.publi-options_vaga3 {
    margin-left: 150px;
}

.publi_vaga2_3 {
    display: flex;
}

.publi-options_vaga3 {
    margin-top: 150px;
}

.publi-options_vaga3 #publih2 {
    margin-left: 250px;
}

.publi-options_2>.BarraProgresso {
    width: 800px;
}

.formulario {
    position: absolute;
    top: 0;
    left: 0;
}

#formulario #progress {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

#formulario #progress li {
    list-style-type: none;
    text-align: start;
    color: #DB324A;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    width: 33.33%;
    position: relative;
}

#formulario #progress li:before {
    content: counter(step);
    counter-increment: step;
    width: 45px;
    display: block;
    line-height: 45px;
    background: #C4C4C4;
    color: white;
    border-radius: 7px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 60px;
    margin: 0 auto 20px auto;
    font-size: 22px;
    text-align: center;
}

#formulario #progress li:after {
    content: '';
    width: 100%;
    background: #C4C4C4;
    height: 11px;
    position: absolute;
    top: 18px;
    left: -50%;
    z-index: -5;
}

#formulario #progress li:first-child:after {
    content: none;
}

#formulario #progress li.ativo:before, #formulario #progress li.ativo:after {
    background: #DB324A;
    color: white;
    text-shadow: 0 1px 0;
    text-align: center;
}

/*CSS do forms*/

.forms3 {
    height: 2554px;
    width: 880px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    margin-bottom: 100px;
}

#pre-visu {
    width: 641px;
    height: 189px;
    background: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;

}