.areaDash {
    display: flex;
}

.box-centro{
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    margin-left: 250px;
    margin-top: 50px;
}


/* Box1 (START) */
.options-box1 {
    /* display: flex; */
    width: 600px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
    border-radius: 7px;
    margin-top: 50px;
}

.options-box1 h2 {
    /* margin-left: 20px; */
    /* height: 37px; */
    margin-top: 13px;
    margin-bottom: 15px;
}


.options-box1 h4 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: unset;
    color: #a4a4a3;

}
/* Box1 (END) */



/* Box2 (START) */
.options-box22 {
    display: flex;
    width: 195px;
<<<<<<< HEAD
    height: 200px;
=======
    height: auto;
>>>>>>> 380a60336e04a5be56c97cc9983fdebd3155e673
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
    border-radius: 7px;
    padding-bottom: 10px;
    margin-top: 50px;
    flex-direction: column;
    margin-right: 50px
}

.row{
    padding: 1px 60px;
}

.row hr{
    border-top: 2px solid #DB324A;
    width: 120px;

}

.doubleBox{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
}

.options-box22 p{
    text-align: center;
    margin-top: 30px;
    margin-left: 5px;
}




.flex-text{
    display: flex;
    flex-direction: column;
}


.options-box22 .see .link{
    display: flex;
    justify-content: center;
}
/* Box2 (END) */




.options-box33 {
    display: flex;
    width: 195px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.18);
    border-radius: 7px;
    padding-bottom: 10px;
    margin-top: 50px;
    flex-direction: column;
}


.options-box33 p {
    margin-top: 30px;
    margin-left: 5px;
}




/* Bootstrap progress bars (START)*/
.progress{
    /* altura da barra */
    height: 20px;
    border-radius: 3px;
    background-color: #bebebe;
    /* box-shadow: inset 0 46px 8px rgba(1,1,1,0.1); */
}

#bar .progress{
    width:350px

}

#bar .progress-bar {
    /* tamanho da barra %*/
    width:100%;
    /* cor da barra */
    background-color: #DB324A;


}

#bar .progress-bar-striped{
    background-size: 3rem 3rem;;
}


#bar{
    display: flex;
    align-items: center;
    margin-right: 20px;


}
/* Bootstrap progress bars (END) */

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text h4{
    width: 350px;
}

.h44{
    display: flex;
    justify-content: center;

    align-items: center;
}

