* {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F7F7
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 30px 15px 90px;
    box-shadow: 0 2px rgba(156, 155, 155, 0.53);
}

nav img {
    width: 130px;
}

div#ul_flex ul {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-end;
    align-items: center;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(19, 18, 18);
}

button {
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #DB324A;
}

button:hover {
    cursor: pointer;
    background-color: rgb(206, 54, 77);
}

button p {
    color: white;
}

footer {
    
    background-color: #DB324A;
    padding: 50px;
}

    footer img {
        width: 240px;
        height: 60px;
        padding-right: 100px;
    }

div#rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.conteudo_rodape {
    color: white;
}

div.conteudo_rodape h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

div.conteudo_rodape p {
    padding-bottom: 10px;
}
main h1 {
    position: absolute;
width: 248px;
height: 52px;
left: 710px;
top: 211px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #645C5C;
}

#Paleta {
    background-color: #fff;
    width: 279px;
    height: 556px;
    padding-right: 80px;
    border-radius: 10px;
    border-style: groove;
    margin: 100px;
    padding-right: 8px;
}

.caixas{
    display: flex;
    justify-content: center;
    align-self: start;;
}

.caixas #caixa1 {
    background-color: #fff;
    width: 196px;
    height: 116px;
    border-radius: 10px;
    border-style: groove;
}

.caixas #caixa2{
    background-color: #fff;
    border-radius: 10px;
    border-style: groove;
    width: 195px;
    height: 116px;
}

.caixas #caixa3{
    background-color: #fff;
    border-radius: 10px;
    border-style: groove;
    width: 207px;
    height: 116px;
}
