* {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F7F7
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 30px 15px 90px;
}

nav img {
    width: 130px;
}

div#ul_flex ul {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-end;
    align-items: center;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(19, 18, 18);
}

button {
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #DB324A;
}

button:hover {
    cursor: pointer;
    background-color: rgb(206, 54, 77);
}

button p {
    color: white;
}

footer {
    background-color: #DB324A;
    padding: 50px;
}

footer img {
    width: 240px;
    height: 60px;
}

div#rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.conteudo_rodape {
    color: white;
}

div.conteudo_rodape h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

div.conteudo_rodape p {
    padding-bottom: 10px;
}