.centro div {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.centro h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.centro {
    margin-top: 200px;
}

.davi {
    margin-bottom: 20px;
}

nav {
    font-size: 17px;
}

#nao_sei {
    margin-left: 10px;
    height: 10px;
}

.Input {
    display: flex;
    flex-direction: row;
}

.Input #btn1 {
    margin-top: 45px;
}