nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 30px 15px 90px;
    box-shadow: 0px 2px rgba(156, 155, 155, 0.53);
}

nav img {
    width: 130px;
}

div#ul_flex ul {
    width: 500px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(19, 18, 18);
}


/* .centro-home button {
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #DB324A;
}

.centro-home button:hover {
    cursor: pointer;
    background-color: rgb(206, 54, 77);
}

.centro-home button p {
    color: white;
} */