.formulario {
    position: absolute;
    top: 0;
    left: 0;
}

#formulario #progress {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    display: flex;
    justify-content: center;
}

#formulario #progress li {
    list-style-type: none;
    text-align: start;
    color: #DB324A;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    width: 300px;
    position: relative;
}

#formulario #progress li:before {
    content: counter(step);
    counter-increment: step;
    width: 45px;
    display: block;
    line-height: 45px;
    background: #C4C4C4;
    color: white;
    border-radius: 40px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 60px;
    margin: 0 auto 20px auto;
    font-size: 22px;
    text-align: center;
}

#formulario #progress li:after {
    content: '';
    width: 100%;
    background: #C4C4C4;
    height: 11px;
    position: absolute;
    top: 18px;
    left: -50%;
    z-index: -5;
}

#formulario #progress li:first-child:after {
    content: none;
}

#formulario #progress li.ativo:before,
#formulario #progress li.ativo:after {
    background: #DB324A;
    color: white;
    text-shadow: 0 1px 0;
    text-align: center;
}