.content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.charts {
    display: flex;
    flex-direction: row;
}

.chart {
    width: 50%;
    margin: 2em 0;
}

@media(max-width: 1000px) {
    .charts {
        flex-direction: column;
        align-items: center;
    }
    .chart {
        width: 90%;
    }
}

.chartjs-render-monitor {
    margin-top: -20px;
    margin-left: 20px;
}

.chart {
    width: 860px;
    height: 400px;
}