footer {
    background-color: #DB324A;
    padding: 50px;
}

footer img {
    width: 240px;
    height: 60px;
    margin-right: 100px;
}

div#rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.conteudo_rodape {
    color: white;
}

div.conteudo_rodape h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

div.conteudo_rodape p {
    margin-bottom: 10px;
}

#rodape h2{
    font-weight: bold;
}