.etapa01candidato .cadastro {
    width: 755px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.etapa01candidato .cadastro-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etapa01candidato .titulo h1 {
    /* Cadastrar como candidato */
    position: absolute;
    width: 292px;
    height: 29px;
    left: 530px;
    top: 161px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}

.etapa01candidato .titulo p {
    /* Sobre */
    width: 81px;
    height: 41px;
    left: 349px;
    top: 320px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 20px;
}

.etapa01candidato .BarraProgresso {
    display: flex;
    justify-content: center;
}

.etapa01candidato .cadastro Label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.etapa01candidato .cadastro-form Input {
    display: flex;
    flex-direction: row;
}

.etapa01candidato #inputMeno {
    display: flex;
    Width: 250px;
    Height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #868686;
    box-sizing: border-box;
}

.etapa01candidato .grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.etapa01candidato .grupofoto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etapa01candidato .foto {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #DB324A;
    margin-bottom: 40px;
    margin-top: 15px;
}

.etapa01candidato .btn-proximo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#foto:hover {
    background-color: #e4415a;
}

.texto {
    opacity: 0;
    transition: opacity .2s linear;
}

.imagem:hover .texto {
    opacity: 1;
}

#foto input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}