/* TODO botão primário*/

#btn1 {
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #DB324A;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
    text-transform: uppercase;
}

#btn1:hover {
    color: white;
    box-shadow: 0 3px rgb(211, 211, 211), 178;
    background-color: #e4415a;
}

#btn1:active {
    /* box-shadow: 0 5px #999; */
    transform: translateY(3px);
    /* box-shadow: 0px 0px 0px 4px #000; */
    box-shadow: none;
}


/*TODO Botão secundário*/

#btn2 {
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #DB324A;
    border: none;
    border-radius: 7px;
    border: 3px solid;
    border-color: #999;
    background-color: white;
    color: #999;
    text-transform: uppercase;
}

#btn2:hover {
    color: #DB324A;
    box-shadow: 0 4px #999;
    border-color: #DB324A;
}

#btn2:active {
    box-shadow: none;
    transform: translateY(3px);
}


/* TODO Botão terciário */

#btn3 {
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #999;
    background-color: white;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
}

#btn3:hover {
    /* box-shadow: 5px 5px 5px 5px rgb(231, 226, 226); */
    color: #DB324A;
    box-shadow: 0 4px #999;
}

#btn3:active {
    transform: translateY(3px);
    box-shadow: none;
}

#btn>btn btn-info {
    padding: 0px;
}