.etapa2candidato .cadastro {
    width: 755px;
    padding-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.cadastroHab .cadastro {
    padding-top: 25px;
    margin-bottom: 50px;
}

.habilidades {
    display: flex;
    flex-direction: column;
}

.nivel {
    display: flex;
    flex-direction: column;
}

.habilidades+.nivel {
    margin-left: 15px;
}

.etapa2candidato .grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

.cadastroHab .grupo {
    padding: 0;
}

.etapa2candidato .cadastro p {
    text-align: center;
    padding-top: 15px;
}

.etapa2candidato .cadastro-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etapa2candidato .btn-proximo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.etapa2candidato .btn-proximo #btn2 {
    margin-right: 30px;
}

.btn-proximo-hab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}